# Dependências
node_modules/

# Variáveis de ambiente
.env

# Arquivos de log
*.log

# Configurações de IDE/Editor
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
